bucket       = "<org>-insurance-prod-tfstate-<account_short>"
key          = "foundation/terraform.tfstate"
region       = "ap-southeast-2"
encrypt      = true
kms_key_id   = "arn:aws:kms:ap-southeast-2:<account_id>:key/<prod_state_kms_key_id>"
use_lockfile = true

assume_role = {
  role_arn = "arn:aws:iam::<account_id>:role/<prod_terraform_backend_role_path_and_name>"
}
